.name {
    color: blue;
}

.list {
    border: 1px black solid;
}

.list-element:hover {
    background: lightgray;
    opacity: 90%;
}

#header {
    color: white;
    text-align: center;
    height: 100px;
    background-image: url('./shahadat-rahman-gnyA8vd3Otc-unsplash.jpg');
    background-size: cover;
}